#header
  .wrap-full
    .logo
      = link_to 'name', '/admin'
    #nav
      %ul.unstyled.clearfix
        %li{class: "#{'active' if controller_name=='members'}"}=link_to "MEMBERS", "#"
        %li{class: "#{'active' if controller_name=='prizes'}"}=link_to "PRIZES MANAGER", admin_merchant_prizes_path
        %li{class: "#{'active' if controller_name=='actions'}"}=link_to "ACTIONS", "#"
        %li{class: "#{'active' if controller_name=='reports'}"}=link_to "REPORTS", admin_merchant_reports_path
    .pull-right
      %p.hidden END SIMULATION
      %p.logout
        = current_merchant.name.capitalize
        = link_to "logout", destroy_merchant_session_path, method: :delete
