= link_to "Home", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to('Logout')
  - else
    %li
      = link_to('Login')
  - if user_signed_in?
    %li
      = link_to('Edit account')
  - else
    %li
      = link_to('Sign up')